Ryan_Middleton_Solo_Project/secrets.py
Ryan_Middleton_Solo_Project/test.html
Ryan_Middleton_Solo_Project/prod_settings.py
Ryan_Middleton_Solo_Project/local_settings.py
Ryan_Middleton_Solo_Project/settings.py
Ryan_Middleton_Solo_Project/__pycache__/*
single_source_site/__pycache__/*
tmp/*
single_source_site/static/css/styles_tables.css
single_source_site/static/css/styles_old.css
single_source_site/static/css/bootstrap.css
single_source_site/templates/quote_builder_tables.html
single_source_site/templates/bootstrap_index.html
db.sqlite3
Rental_Quote_Generator.bmpr
environment_activate.sh
.env
*.pyc
staticfiles