* {
    color:white;
    margin:0px;
    padding:0px;
    /* border: 1px dotted red; */
}

body {
    background-image: url('../img/SS_Logo.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
} 

#header{
    text-align:center;
    margin-top:15%;
}
#menu_bar a{
    display:inline-block;
}

.menu-item{
    display:inline-block;
    padding-right:5%;
    padding-left:5%;
    padding-bottom:5px;
    border-bottom:2px solid grey;
}  

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: black;
    min-width:160px;
}

.dropdown-content *{
    display:block;
    color: white;
    border-bottom:1px solid white;
    text-align:center;
    padding-bottom:5px;
    text-decoration: none;
}

#home-menu{
    border-right:1px solid white;
}
#portfolio-menu{
    border-right:1px solid white;
}
#inventory-menu{
    border-right:1px solid white;
}
#quote-menu{
    border-right:1px solid white;
}
#about-menu{
    border-right:1px solid white;
}


#content h1, h3 {
    margin-left:30%;
    text-align:center;
    width:40%;
}

#product_list{
    width:75%;
    margin-left:10%;
}
#product_list h3{
    text-align:center;
    text-decoration: underline;
}

.product_type_col {
    display:inline-block;
    margin-right:10px;
    margin-top:15px;
    vertical-align:top;
}


#Grip_col {
    margin-left:17%;
    border-right:1px solid grey;
}
#Electric_col {
    border-right:2px solid grey;
}
.product_name {
    display:inline-block;
    width:180px;
}

.num_quantity_field {
    display:none;
    background-color:white; 
    color:black;
    width:30px;
}

.delete_btn {
    display:none;
    background-color:white; 
    color:black;
}

#send_quote_container {
    text-align:center;
    margin-top:20px;
    width:350px;
    margin-left:37%;
    vertical-align:top;
}

