<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Source Grip and Lighting</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script
        src="http://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
           //Listeners for Menu Bar
           $('.navbar .dropdown').hover(
                function(){
                    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
                }, 
                function() {
                    $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
                }
            )

            //On-click Listener to edit the quantity or delete items in cart
            $('.product_name').click(
                function(){
                    //Get the product ID from the element that was clicked
                    var selected_product_id = this.id.replace("_product", "");
                    //Get the correct num_quantity_field element id
                    var num_quantity_id = "#product_" + selected_product_id + "_quantity";
                    //Get the correct displayed_quantity element id
                    var displayed_quantity_id = "#product_" + selected_product_id + "_displayed_quantity";
                    //Get the correct del_btn element id
                    var del_btn_id = "#product_" + selected_product_id + "_del_btn";

                    //if num_quantity is visible then update 
                    if ($(num_quantity_id).css('visibility') == 'visible'){
                        var new_quantity = $(num_quantity_id).val();
                        $(displayed_quantity_id).html("("+ new_quantity + ")");
                        $(num_quantity_id).css("visibility","hidden");
                        $(del_btn_id).css("visibility","hidden");

                    }
                    else if ($(num_quantity_id).css('visibility') == 'hidden'){
                        $(num_quantity_id).css("visibility","visible");
                        $(del_btn_id).css("visibility","visible");
                    }
                }
            );

            //On-click Listener to edit the quantity or delete items in cart
            $('.package_name').click(
                function(){
                    //Get the product ID from the element that was clicked
                    var selected_package_id = this.id.replace("_package", "");
                    //Get the correct num_quantity_field element id
                    var num_quantity_id = "#package_" + selected_package_id + "_quantity";
                    //Get the correct displayed_quantity element id
                    var displayed_quantity_id = "#package_" + selected_package_id + "_displayed_quantity";
                    //Get the correct del_btn element id
                    var del_btn_id = "#package_" + selected_package_id + "_del_btn";
                    //if num_quantity is visible then update 
                    if ($(num_quantity_id).css('visibility') == 'visible'){
                        var new_quantity = $(num_quantity_id).val();
                        $(displayed_quantity_id).html("("+ new_quantity + ")");
                        $(num_quantity_id).css("visibility","hidden");
                        $(del_btn_id).css("visibility","hidden");

                    }
                    else if ($(num_quantity_id).css('visibility') == 'hidden'){
                        $(num_quantity_id).css("visibility","visible");
                        $(del_btn_id).css("visibility","visible");
                    }
                }
            );

            $('.delete_btn').click(
                function(){
                    //Get the product ID from the delete button that was clicked
                    var selected_item_id = this.id.replace("_del_btn", "");
                    //Change where the form submits
                    $('#send_quote_frm').attr("action", "/delete_order_item/{{order.id}}/" + selected_item_id);
                }
            )
        })
    </script>
</head>
<body>
    <div id="header">
        <nav id="navbar-container" class="navbar navbar-inverse">
            <div class="container-fluid">
              <ul id="navbar-list" class="nav navbar-nav">
                <li><a id="home-menu" href="/">Home</a></li>
                <li class="dropdown">
                  <a id="portfolio-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio</a>
                  <ul id="portfolio-dropdown" class="dropdown-menu">
                    <li><a href="/music_videos">Music Videos</a></li>
                    <li><a href="/narrative">Narrative</a></li>
                    <li><a href="/commercial">Commercial</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                    <a id="rentals-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">Rentals</a>
                    <ul id="rentals-dropdown" class="dropdown-menu">
                      <li><a href="/3_ton_list">3-ton Grip Package</a></li>
                      <li><a href="/1_ton_list">1-ton Grip Package</a></li>
                      <li><a href="/electric_list">Electric</a></li>
                      <li><a href="/dolly_list">Dolly</a></li>
                    </ul>
                </li>
                <li><a id="quote-menu" class="menu-item" href="/quote_page">Get A Quote</a></li>
                <li><a id="about-menu" href="/about">About</a></li>
                <li><a id="contact-menu" href="/contact">Contact</a></li>
                {% if order %}
                <li><a href="/get_order/{{order.id}}"><img id="cart" src="../static/img/cart.png"></a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
        </div>
    {% if messages %}
    <ul class="error_messages">
        {% for msg in messages %}
            <li {% if msg.tags %} class="{{msg.tags}}"
                {% endif %}>{{ msg }}</li>
            </li>
        {% endfor%}
    </ul>
    {% endif %}

    <div id="cart_content">
        <h1>Thanks for your order, {{order.customer_name}}</h1>
        <h3>Please review your order below. If you need to make any changes, just click on the item, update the quantity and then click the item again to make it your heart's desire. </h3>
        <div id="product_list">
    
            <form id="send_quote_frm" action="/send_quote/{{order.id}}" method="post">
            {% csrf_token %}
            <div id="Grip_col" class="product_type_col"><h3>Grip</h3></div>
            <div id="Electric_col" class="product_type_col"><h3>Electric</h3></div>
            <div id="Accessories_col" class="product_type_col"><h3>Accessories</h3></div>
            {% for item in order_packages %}
                <script>
                    $('#Grip_col').css("visibility","visible");
                    $('#Grip_col').append(
                        "<div class='package_name' id='{{item.package.id}}_package'>\n"+
                        "{{item.package.name}} <label class='displayed_quantity' id='package_{{item.package.id}}_displayed_quantity' value='{{item.quantity}}'>({{item.quantity}})</label>" +
                        "</div>"+
                        "<input type='number' min=1 max='{{item.package.num_inventory}}' value='{{item.quantity}}' id='package_{{item.package.id}}_quantity' name='package_{{item.package.id}}_quantity' class='num_quantity_field'>\n"+
                        "<button class='delete_btn' id='package_{{item.package.id}}_del_btn'>X</button><br>"
                    );
                </script>
            {% endfor %}
            {% for item in order_products %}
                <!-- Go through all the products and append them into the correct containers -->
                {% if item.product.category.name == "Accessories" %}
                    <script>
                        $('#Accessories_col').css("visibility","visible");
                        $('#Accessories_col').append(
                            "<div class='product_name' id='{{item.product.id}}_product'>\n"+
                            "{{item.product.name}} <label class='displayed_quantity' id='product_{{item.product.id}}_displayed_quantity' value='{{item.quantity}}'>({{item.quantity}})</label>" +
                            "</div>"+
                            "<input type='number' min=1 max='{{item.product.num_inventory}}' value='{{item.quantity}}' id='product_{{item.product.id}}_quantity' name='product_{{item.product.id}}_quantity' class='num_quantity_field'>\n"+
                            "<button class='delete_btn' id='product_{{item.product.id}}_del_btn'>X</button><br>"
                        );
                    </script>
                {% elif item.product.category.parent_category.name == "Electric" %}
                    <script>
                        $('#Electric_col').css("visibility","visible");
                        $('#Electric_col').append(
                            "<div class='product_name' id='{{item.product.id}}_product'>\n"+
                            "{{item.product.name}} <label class='displayed_quantity' id='product_{{item.product.id}}_displayed_quantity' value='{{item.quantity}}'>({{item.quantity}})</label>" +
                            "</div>"+
                            "<input type='number' min=1 max='{{item.product.num_inventory}}' value='{{item.quantity}}' id='product_{{item.product.id}}_quantity' name='product_{{item.product.id}}_quantity' class='num_quantity_field'>\n"+
                            "<button class='delete_btn' id='product_{{item.product.id}}_del_btn'>X</button><br>"
                        );
                    </script>
                {% endif %}
            {% endfor %}
        </div> 

        <div id="send_quote_container">
            <p>If you're all done, hit the send quote button below. Thanks again for stopping by. Take care now.</p>
            <input type="submit" value="Send Quote">
        </div>
    </form>
</div>

    
</body>
</html>