<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Source Grip and Lighting</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script
        src="http://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <div id="header">
        <h1>Single Source</h1>
        <div id="menu_bar">
            <a href="">Home</a>
            <a href="">Portfolio</a>
            <a href="">Rentals</a>
            <a href="/quote_page">Get A Quote</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </div>
    <div id="content">
        <h1>Your Cart</h1>
        <h4>Thanks for your Order {{order.customer_name}}</h4>
        <form id="send_quote_frm" method="post" action="/send_quote/{{order.id}}">
        {% csrf_token %}
        <div id="Electric_col" style="display:inline-block;vertical-align:top;">Electric<br></div>
        <div id="Grip_col" style="display:inline-block;vertical-align:top;">Grip<br></div>
        <div id="Accessories_col" style="display:inline-block;vertical-align:top;">Accessories<br></div>
        {% for product in order.products.all %}
            {% if product.category.name == "Electric" %}
            <script>$('#Electric_col').append("{{product.name}}({{product.quantity_in_order}})<br>")</script>
            {% endif %}
            {% if product.category.name == "Grip" %}
            <script>$('#Grip_col').append("{{product.name}}({{product.quantity_in_order}})<br>")</script>
            {% endif %}
            {% if product.category.name == "Accessories" %}
            <script>$('#Accessories_col').append("{{product.name}}({{product.quantity_in_order}})<br>")</script>
            {% endif %}
        {% endfor %}
            <div style="display:block;">
                Click the 'Send Quote' button to send the quote to your inbox. Thanks for your business!<br>
                <input type="submit" value="Send Quote">
            </div>
        </form>
    </div>
    
</body>
</html>