<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Quote</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Order# {{order.id}}</h1>
    <div>
        <table>
            <tr style="background-color: lightblue;">
                <td>Item</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
        {% for product in order.products.all %}
            <tr>
                <td>{{product.name}}</td>
                <td style="text-align:center;">{{product.quantity_in_order}}</td>
                <td>{{product.get_total}}</td>
            </tr>
        {% endfor %}
            <tr>
                <td><b>Total:</b></td>
                <td></td>
                <td><b>{{order.get_total}}</b><td>
            </tr>
        </table>
    </div>
</body>
</html>