<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Source Grip and Lighting</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script
        src="http://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
            $('#portfolio-menu').hover(
                // Hover over
                function(){
                    $('#portfolio-content').slideToggle(); 
                },
                function(){
                    $('#portfolio-content').show();
                }
            );
            $('#portfolio-content').hover(
                function(){},
                function(){
                    $('#portfolio-content').hide();
                }
            );
                 //Do nothing while hovering over the sub-menu, on hover out hide the submenu
            $('#inventory-menu').hover(
                // Hover over
                function(){
                    $('#inventory-content').slideToggle();
                },
                function(){
                    $('#inventory-content').show();
                }
            );
            //Do nothing while hovering over the sub-menu, on hover out hide the submenu
            $('#inventory-content').hover(
                function(){},
                function(){
                    $('#inventory-content').hide();
                }
            );
        })
    </script>
</head>
<body>
    <div id="header">
        <div id="menu_bar">
            <a id="home-menu" class="menu-item" href="/">Home</a>
            <a id="portfolio-menu" class="menu-item" href="">Portfolio</a>
            <a id="inventory-menu" class="menu-item" href="">Rentals</a>
            <a id="quote-menu" class="menu-item" href="/quote_page">Get A Quote</a>
            <a id="about-menu" class="menu-item" href="">About</a>
            <a id="content-menu" class="menu-item" href="">Contact</a>

            <div id="portfolio-dropdown" class="dropdown">
                <div id="portfolio-content" class="dropdown-content">
                    <a href="#">Music Videos</a><br>
                    <a href="#">Narrative</a><br>
                    <a href="#">Commercial</a>
                </div>
            </div>

            <div id="inventory-dropdown" class="dropdown">
                <div id="inventory-content" class="dropdown-content">
                    <a href="#">3-ton Grip Package</a><br>
                    <a href="#">1-ton Grip Package</a><br>
                    <a href="#">Electric</a><br>
                    <a href="#">Dolly</a>
                </div>
            </div>
        </div>
    </div>
    <div id="content"></div>
</body>
</html>