<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Source Grip and Lighting</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script
    src="http://code.jquery.com/jquery-1.12.4.js"
    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
            $('.navbar .dropdown').hover(
                function(){
                    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
                }, 
                function() {
                    $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
                }
            )
            // Front-end validation check 
            $('#quote_frm').submit(function(){
                errormsgs={};
                errormsg="";
                if($('#name_txt').val() == ""){
                    errormsgs['first_name'] = "The name field is blank";
                }
                if($('#email_txt').val() == ""){
                    errormsgs['email'] = "The email field is blank";
                }
                count=0;
                $.each(errormsgs, function(key, value) {
                    errormsg += value + "\n"
                    count++;
                })
                if(count==0){
                    return true;
                }
                else {
                    alert(errormsg);
                    return false;
                }
            })

            // Logic for checkboxes
            $('input:checkbox').change(function(){
                    var prod_pack_id = $(this).val();
                    var product_type = $(this).attr("name");
                    var strindex = product_type.search("_");
                    product_type = product_type.slice(strindex+1)
                    if ($(this).is(':checked')) {
                        // update the corresponding quantity value to 1 if the checkbox is checked
                        $("#" + product_type + "_" + prod_pack_id + "_quantity").val(1);
                    }
                    else if ($(this).not(':checked')){
                        // update the corresponding quantity value to 0 if the checkbox is clicked
                        $("#" + product_type + "_" + prod_pack_id + "_quantity").val(0);
                    }
            })
        });
    </script>
</head>
<body>
    <div id="header">
        <nav id="navbar-container" class="navbar navbar-inverse">
            <div class="container-fluid">
              <ul id="navbar-list" class="nav navbar-nav">
                <li><a id="home-menu" href="/">Home</a></li>
                <li class="dropdown">
                  <a id="portfolio-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio</a>
                  <ul id="portfolio-dropdown" class="dropdown-menu">
                    <li><a href="/music_videos">Music Videos</a></li>
                    <li><a href="/narrative">Narrative</a></li>
                    <li><a href="/commercial">Commercial</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                    <a id="rentals-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">Rentals</a>
                    <ul id="rentals-dropdown" class="dropdown-menu">
                      <li><a href="/3_ton_list">3-ton Grip Package</a></li>
                      <li><a href="/1_ton_list">1-ton Grip Package</a></li>
                      <li><a href="/electric_list">Electric</a></li>
                      <li><a href="/dolly_list">Dolly</a></li>
                    </ul>
                </li>
                <li><a id="quote-menu" class="menu-item" href="/quote_page">Get A Quote</a></li>
                <li><a id="about-menu" href="/about">About</a></li>
                <li><a id="contact-menu" href="/contact">Contact</a></li>
                {% if order %}
                <li><a href="/get_order/{{order.id}}"><img id="cart" src="../static/img/cart.png"></a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
    </div>
    {% if messages %}
    <ul class="error_messages">
        {% for msg in messages %}
            <li {% if msg.tags %} class="{{msg.tags}}"
                {% endif %}>{{ msg }}</li>
            </li>
        {% endfor%}
    </ul>
    {% endif %}

    <div id="quote_content">
        <h1>Build Your Quote</h1>
        <div id="product_list">
        <form id="quote_frm" action="/add_to_cart" method="post">
        {% csrf_token %}
        <div id="column1" class="product_type_col">
            <div id="Grip_col"><h3>Grip</h3></div>
            <div id="Dolly_col"><h3>Dolly</h3></div>
        </div>
        <div id="spacer" class="product_type_col"></div>
        <div id="Electric_col" class="product_type_col"><h3>Electric</h3></div>
        <div id="spacer" class="product_type_col"></div>
        <div id="Accessories_col" class="product_type_col"><h3>Accessories</h3></div>
        {% for package in packages %}
            <script>
                $('#Grip_col').show();
                $('#Grip_col').append(
                "<div class='checkbox_field'>\n"+
                "<input type='checkbox' class='{{package.category.name}}' value='{{package.id}}' id='{{package.id}}' name='{{package.id}}_package'>\n"+
                "<label> {{package.name}}</label>\n" +
                "</div>\n"+
                "<input type='number' min=0 max='{{package.num_inventory}}' value=0 id='package_{{package.id}}_quantity' name='package_{{package.id}}_quantity' class='num_quantity_field'><br>\n"
                );
            </script>
        {% endfor %}
        {% for product in products %}
            {% if product.category.parent_category.name == "Electric" and product.category.name != "Accessories" %}
                <script>
                    $('#Electric_col').show();
                    $('#Electric_col').append(
                    "<div class='checkbox_field'>\n"+
                    "<input type='checkbox' class='{{product.category.name}}' value='{{product.id}}' id='{{product.id}}' name='{{product.id}}_product'>\n"+
                    "<label> {{product.name}}</label>\n" +
                    "</div>\n"+
                    "<input type='number' min=0 max='{{product.num_inventory}}' value=0 id='product_{{product.id}}_quantity' name='product_{{product.id}}_quantity' class='num_quantity_field'><br>\n"
                    );
                </script>
            {% elif product.category.name == "Dolly" %}
                <script>
                    $('#Dolly_col').show();
                    $('#Dolly_col').append(
                    "<div class='checkbox_field'>\n"+
                    "<input type='checkbox' class='{{product.category.name}}' value='{{product.id}}' id='{{product.id}}' name='{{product.id}}_product'>\n"+
                    "<label> {{product.name}}</label>\n" +
                    "</div>\n"+
                    "<input type='number' min=0 max='{{product.num_inventory}}' value=0 id='product_{{product.id}}_quantity' name='product_{{product.id}}_quantity' class='num_quantity_field'><br>\n"
                    );
                </script>
            {% elif product.category.name == "Accessories" %}
                <script>
                    $('#Accessories_col').show();
                    $('#Accessories_col').append(
                    "<div class='checkbox_field'>\n"+
                    "<input type='checkbox' class='{{product.category.name}}' value='{{product.id}}' id='{{product.id}}' name='{{product.id}}_product'>\n"+
                    "<label> {{product.name}}</label>\n" +
                    "</div>\n"+
                    "<input type='number' min=0 max='{{product.num_inventory}}' value=0 id='product_{{product.id}}_quantity' name='product_{{product.id}}_quantity' class='num_quantity_field'><br>\n"
                    );
                </script>
            {% endif %}
        {% endfor %}
        </div>    
        <div id="customer_container">
            <label for="name_txt">Your Name:</label>
            <input type="text" id="name_txt" name="name_txt" class="customer_info_field"><br>
            <label for="email_txt">Email:</label>
            <input type="email" id="email_txt" name="email_txt" class="customer_info_field"><br>
            <input type="submit" value="Add to Cart">
        </div>
        </form>
    </div>
</div>
</body>
<script>

</script>
</html>